.contenedorImagen {
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 5px #a309cd;
  margin-top: 1em;

  ion-img {
    width: 150% !important;
    height: 150% !important;
  }
}

ion-card-subtitle{
  text-align: center;
}

ion-input{
  margin-bottom: 0.5em;
}
