<!-- Contendor principal -->
<ion-content>
  <!-- Div Filtro -->

    <!-- Filtro Categoria -->
    <form [formGroup]="filterAll">

      <ion-list>
        <ion-item>
          <ion-select aria-label="Genero" (ionChange)="handleChangeGenre($event)" interface="popover" placeholder="Seleciona el genero">
            <ng-container *ngFor="let g of genres">
              <ion-select-option [value]="g">{{ g.name }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select aria-label="Genero" (ionChange)="handleChangeDate($event)" interface="popover" placeholder="Seleciona la fecha de inicio">
            <ng-container *ngFor="let g of startDate">
              <ion-select-option [value]="g">{{ g.name }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select aria-label="Genero" (ionChange)="handleChangeStatus($event)" interface="popover" placeholder="Seleciona el estado">
            <ng-container *ngFor="let g of status">
              <ion-select-option [value]="g">{{ g.name }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>

        <ion-item>
          <ion-select aria-label="Genero" (ionChange)="handleChangeOrder($event)" interface="popover" placeholder="Seleciona el orden">
            <ng-container *ngFor="let g of order">
              <ion-select-option [value]="g">{{ g.name }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  <!-- /Div Filtro -->

  <ion-list id="contenido">
    <!-- {{comics |json}} -->
    <ion-item *ngFor="let comic of comics | comicsFilterCategory: genreFilter:statusFilter:startDateFilter:orderFilter">
      <ml-comic-card [comic]="comic.node"></ml-comic-card>
    </ion-item>
  </ion-list>
</ion-content>
<!-- /Contendor principal -->
