<!-- <ng-template ngIf="{{comic.id}}">
  <a [routerLink]="['/comics',comic.id]" *ngIf="comic.main_picture?.medium">
    <div class="manga" style="background-image: url({{comic.main_picture.medium}});">
      <div [ngStyle]="{'opacity': isNew() ? '1' : '0'}" class="nuevo">Nuevo</div>
      <div [ngStyle]="{'padding-top':comic.title.length < 25 ? '9%' : '3%'}" class="nombre">{{returnNameComic()}}</div>
    </div>
  </a>
</ng-template>

<ng-template ngIf="{{comic._id}}">
  <a [routerLink]="['/comics',comic._id]" *ngIf="comic.main_picture?.medium">
    <div class="manga" style="background-image: url({{comic.main_picture.medium}});">
      <div [ngStyle]="{'opacity': isNew() ? '1' : '0'}" class="nuevo">Nuevo</div>
      <div [ngStyle]="{'padding-top':comic.title.length < 25 ? '9%' : '3%'}" class="nombre">{{returnNameComic()}}</div>
    </div>
  </a>
</ng-template>
-->

<ion-card *ngIf="comic._id">
  <ion-img [routerLink]="['/comics',comic._id]" alt="{{comic.title}}" src="{{comic.main_picture.medium}}" />
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'opacity': isNew() ? '1' : '0'}" class="nuevo">Nuevo</ion-card-subtitle>
    <ion-card-title>{{returnNameComic()}}</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card *ngIf="comic.id">
  <ion-img [routerLink]="['/comics',comic.id]" alt="{{comic.title}}" src="{{comic.main_picture.medium}}" />
  <ion-card-header>
    <ion-card-title>{{returnNameComic()}}</ion-card-title>
  </ion-card-header>
</ion-card>
